body {
  background-color: #0c0e18;
}

.App {
  background-color: #0c0e18;
  height: 100vh;
  padding: 1rem;
  color: #fff;
}

.App-content {
  max-width: 100vw;
  padding: 3rem 0;
}

h1, h2, h3, h4, h5, h6, ul, li, a, i {
  margin: 0;

}